<app-menu></app-menu>
<div class="container text-center">
    <div *ngIf="isLogged; else loggedOut">
        <h2>Bienvenido {{nombreUsuario}}</h2>
    </div>
    <ng-template #loggedOut>
        <div class="card-group gap-3">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <img src="https://cdn.iconscout.com/icon/free/png-128/law-balance-scale-justice-judicial-system-legal-6-27735.png" class="card-img-top img-size">
                <div class="card-body">
                    <h5 class="card-title">Gestion de Contratación</h5>
                    <p class="card-text">Herramientas de seguimiento de contratación, desde las solicitudes hasta las contratos y prestaciones.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <img src="https://cdn.iconscout.com/icon/free/png-128/security-shield-3038948-2534951.png" class="card-img-top img-size">
                <div class="card-body">
                    <h5 class="card-title">Seguridad de los Datos</h5>
                    <p class="card-text">Administrar los datos personales, las competencias y títulos, las formaciones desarrolladas, los niveles de salario, el registro de los datos del cv, de forma segura.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <img src="https://cdn.iconscout.com/icon/free/png-128/employee-workflow-2-457286.png" class="card-img-top img-size">
                <div class="card-body">
                    <h5 class="card-title">Gestion del Talento</h5>
                    <p class="card-text">Getion de los requermientos del equipo de trabajo. tales como informes, organigramas, datos de empleados y mucho más.</p>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <img src="https://cdn.iconscout.com/icon/free/png-128/international-client-1-457287.png" class="card-img-top img-size">
                <div class="card-body">
                    <h5 class="card-title">Cultura Organizacional</h5>
                    <p class="card-text">Gestionar aspectos como el rendimiento, el desarrollo y la formación, realizar seguimiento de las horas extras.</p>
                </div>
            </div>
        </div>
    </ng-template>
</div>
